:root {
    --rahne: #23a580;
    --leftright: 10rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header */
header {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.507);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--leftright);
    box-shadow: 0 1px 8px rgb(82, 146, 73);
}

header h1 {
    color: darkgreen;
}

header .left img {
    height: 40px;
    width: 40px;
    margin-right: 0.5rem;
}

.left {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.nav {
    display: flex;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: rgba(245, 245, 245, 0.788);
    left: 0;
    top: calc(100% + 3px);
}

.dropdown li {
    width: 250px;
}

#dropdown-parent {
    position: relative;
}

#dropdown-parent::after {
    content: " ";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid var(--rahne);
    top: calc(50% - 10px);
    transform: rotate(90deg);
    transform-origin: center;
    transition: 0.2s all;
}

#dropdown-parent:hover .dropdown {
    display: block;
}

#dropdown-parent:hover::after {
    top: calc(50% - 4px);
    transform: rotate(0);
}

.nav li {
    padding: 1rem;
    cursor: pointer;
    color: var(--rahne);
}

.nav li a {
    color: var(--rahne);
}

.nav li[selected=""],
.nav li:hover {
    border-bottom: 3px solid var(--rahne);
}

/*main*/

a {
    text-decoration: none;
    color: var(--rahne);
}

main a:hover {
    text-decoration: underline;
}

main {
    min-height: calc(100vh - 53px - 167px);
    padding: 2rem var(--leftright);
}

main h2 {
    color: var(--rahne);
}

.home .alert {
    border: 1px solid rgb(230, 230, 230);
    margin-bottom: 1rem;
}

.home .alert .top-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-image: repeating-linear-gradient(45deg, var(--rahne) 0 20px, #13513f 20px 40px);
}

.home .alert .top-alert h2 {
    color: white;
}

.home .alert .top-alert .x-mark {
    cursor: pointer;
    border: 1px solid white;
    color: white;
    padding: 0.2rem;
    background-color: transparent;
    font-size: 1rem;
}

.home .alert p {
    padding: 1rem;
}

.slider-wrapper {
    position: relative;
    width: 100%;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow: auto;
}

.slider img {
    flex: 1 0 100%;
}

.bottom-nav {
    position: absolute;
    bottom: 10px;
    display: flex;
    column-gap: 10px;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-nav a {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.507);
}

.slide-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.507);
}

.prev {
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.next {
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.home .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.home .btn-group button {
    cursor: pointer;
    padding: 2rem 0;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    color: var(--rahne);
    border: 1px solid var(--rahne);
    box-shadow: 4px 4px 4px #83b8a9;
    transition: all 0.5s;
    margin-right: 1rem;
}

.home .btn-group button:last-child {
    margin-right: 0;
}

.home .btn-group button:hover {
    background-image: linear-gradient(to right, var(--rahne), #23a580);
    color: white;
    border: 1px solid #0c654c;
}

.home .btn-group button:active {
    transform: translateX(4px) translateY(4px);
    box-shadow: none;
}

.home .btn-group button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.home .btn-group button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.home .articles {
    margin-top: 2rem;
}

.home .articles > h2 {
    text-align: center;
}

.home .articles article {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.home .articles p:last-child {
    margin-top: 1rem;
}

.first-child-mr-1 {
    margin-right: 1rem;
}

.img-wrapper {
    display: flex;
    align-items: stretch;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
}

.blog article p {
    margin-bottom: 1rem;
}

.blog article img {
    float: left;
    height: 175px;
    width: 40%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.blog .article-2 img {
    float: right;
    margin: 0;
    margin-left: 1rem;
}

.schedule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-items: center;
}

.schedule h2 {
    align-self: flex-start;
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 5px;
}

thead {
    background-color: rgb(230, 230, 230);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: block;
}

form input {
    padding: 0.5rem;
    border-bottom-right-radius: 10px;
    outline-offset: 2px;
    font-size: 1rem;
    border: 1px solid var(--rahne);
    margin-top: 0.2rem;
}

.signin form input {
    min-width: 30rem;
}

input:focus {
    outline: 2px solid rgb(161, 188, 82);
}

form div {
    margin-top: 1rem;
}

.submit {
    min-width: 30rem;
    display: flex;
    justify-content: space-between;
}

.submit button {
    padding: 0.5rem 1rem;
    border-bottom-right-radius: 10px;
    background-color: var(--rahne);
    color: white;
    border: 1px solid var(--rahne);
    cursor: pointer;
    box-shadow: 4px 4px 4px #56b499;
    transition: 0.5s all;
}

.submit button:active {
    transform: translateX(4px) translateY(4px);
    box-shadow: 4px 4px 4px #56b499 inset;
}

.signup form > div {
    width: 100%;
}

.signup form > div input {
    width: 100%;
}

.signup input[type="color"] {
    height: 40px;
    padding: 0;
}

.signup fieldset {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--rahne);
    border-bottom-right-radius: 10px;
}

.signup fieldset label {
    display: inline;
}

.signup legend {
    border: 1px solid var(--rahne);
    border-bottom-right-radius: 10px;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px #83b8a9;
    font-size: 1rem;
}

.signup select {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--rahne);
    overflow: auto;
}

.signup textarea {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--rahne);
    height: 80px;
}

.signup .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup .btn-group input {
    width: fit-content;
    padding: 0.5rem;
    color: white;
    background-color: rgb(168, 73, 73);
    border: 1px solid red;
    /* box-shadow: 2px 2px 2px rgb(172, 99, 99); */
    cursor: pointer;
    transition: 0.5s all;
}

.signup .btn-group input:hover {
    box-shadow: 0 0 4px 8px rgb(172, 99, 99);
}

.signup .btn-group input:focus {
    outline: none;
}

.signup .btn-group button {
    padding: 0.5rem;
    border-bottom-right-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #27725d;
    background-color: var(--rahne);
    box-shadow: 2px 2px 2px #83b8a9;
    transition: 0.5s all;
}

.signup .btn-group button:active {
    transform: translateX(2px) translateY(2px);
    box-shadow: none;
    box-shadow: 2px 2px 2px #83b8a9 inset;
}

.flex-home {
    display: flex;
    justify-content: space-between;
    padding: 2rem var(--leftright);
}

.flex-home main {
    padding: 0;
    width: 72%;
}

.flex-home main img {
    width: 100%;
    margin-bottom: 1rem;
}

.flex-home main article {
    margin-top: 1.5rem;
}

.flex-home main article p {
    margin-bottom: 1rem;
}

.flex-home main article h2 {
    margin-bottom: 0.5rem;
}

.flex-home aside {
    width: 27%;
    background-color: rgba(220, 220, 220, 0.729);
    border-top: 5px solid var(--rahne);
    padding: 0.5rem;
}

.flex-home aside h2 {
    color: var(--rahne);
}

aside h2 {
    margin-bottom: 1rem;
}

aside li {
    margin-bottom: 0.7rem;
}

aside li[selected=""] {
    font-weight: bold;
}

.grid-home {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1rem;
}

.grid-home > h2 {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.grid-home article img {
    width: 100%;
    margin-bottom: 0.5rem;
}

.grid-home article p {
    margin-bottom: 0.5rem;
}

.float-home {
    padding: 2rem var(--leftright);
}

.float-home main {
    padding: 0;
    padding-bottom: 2rem;
    width: 72%;
    float: left;
}

.flex-home main img,
.float-home main img {
    width: 100%;
    margin-bottom: 1rem;
    height: 400px;
}

.float-home main > h2 {
    margin-bottom: 1rem;
}

.float-home main article h2 {
    margin-bottom: 0.5rem;
}

main img {
    box-shadow: 4px 4px 4px gray;
    object-fit: cover;
}

.float-home aside {
    width: 27%;
    background-color: rgba(220, 220, 220, 0.726);
    padding: 0.5rem;
    border-top: 5px solid var(--rahne);
    float: right;
}

.float-home main article p {
    margin-bottom: 0.5rem;
}

/* footer */
footer {
    clear: both;
    margin-top: 1rem;
    color: white;
    padding: 2rem var(--leftright);
    background-color: var(--rahne);
    display: flex;
    justify-content: space-between;
    border-top: 0.5rem solid #057659;
}

footer a {
    color: white;
}

@media (max-width: 1200px) {
    header {
        padding: 0 5rem;
    }
}
